.dashboardcard {
    -webkit-box-shadow: 1px 3px 14px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 3px 14px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 14px -1px rgba(0, 0, 0, 0.4);
    text-align: center;
  }

.dashboardcard, .dashboardcard.white {
    border: 1px solid #bcbec0;
  }

.dashboardcardcount {
    font-size: 40px;
    color: black;
  }

.dashboardcard-container {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  }

.dashboardbtns {
    outline: none !important;
    width: 80px;
    margin-left: 10px;
    margin-top: 5px;
  }